body{
    background-color: pink;
    text-align: center;
}
.line{
    width: 80px;
    height: 6px;
    background-color: darkblue;
    margin: 10px auto;
}
img{
    width: 500px;
    height: 450px;
    margin: 10px;
}
#slideshow{
    background-color: darkorchid;
}